@CHARSET "ISO-8859-1";

.container-fluid {
		padding-left: 50px;
		padding-right:50px;
	    padding-top: 70px;
	    padding-bottom: 70px;	
}

.row-shade{
	background-color:#bddbce;
}
	
.nav-shade{
	background-color:#1F7872;
}
.panel{
	border:0px;
}

